[user]
	name = Alireza Sarabchi
	email = a.sarabchi@gmail.com
[credentials]
	helper = osxkeychain
[core]
  ignorecase = false
[pull]
	rebase = false
[filter "lfs"]
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
